<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= link_to 'New expense', new_user_expense_path(current_user), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

    <div class="flex justify-between">
      <><%= @group.name %></span>
      <span>$$$</span>
    </div>

    <div class="flex">
      <% @group.expenses.each do |expense| %>
        <span><%= expense.name %></span>
        <span><%= expense.amount %></span>
        <span>$$$</span>
      <% end %>
      <span>$$$</span>
    </div>


    <%= link_to 'Edit this group', edit_user_group_path(current_user, @group), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this group', user_group_path(current_user, @group), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to groups', user_groups_path(current_user), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
  </div>
</div>
